@import "semantic-ui";

@media only screen and (min-width: 1200px) {
  .ui.container {
    width: calc( 1800px + 2rem ) !important;
  }

  .ui.grid.container {
    width: calc( 1800px + 2rem ) !important;
  }
}

#messages {
  height: 15em;
  overflow: auto;
}

.chatbox {
  height: 750px;
}

.login_button {
  width: 10%;
}

.input {
  button {
    display: none;
  }
}